HELP.md
target/classes/com/example/group1todoapplication/Group1TodoApplication.class
target/classes/com/example/group1todoapplication/controllers/TodoFormController.class
target/classes/com/example/group1todoapplication/models/TodoItem.class
target/classes/com/example/group1todoapplication/models/TodoItem.class
!.mvn/wrapper/maven-wrapper.jar
target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
