<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p><a class="btn btn-outline-success" href="/">
                <i class="bi bi-arrow-left-square-fill"></i> Back</a>
            </p>
        </div>
        <!-- New Task form -->
        <div class="col-6">
            <h2>Add a new Todo Item</h2>
            <form action="#" th:action="@{/todo}" th:object="${todoItem}" method="POST" class="task-form">
                <!-- Name of the task -->
                <div class="form-group">
                    <label for="task-name">Task Name</label>
                    <input type="text"
                           th:field="*{taskName}"
                           name="task"
                           placeholder="task"
                           id="task-name"
                           class="form-control">
                </div>
                <!-- Description of the task -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control"
                           type="text"
                           th:field="*{description}"
                           id="description"
                           placeholder="Description">
                </div>
                <!-- Priority of the task -->
                <div class="form-group">
                    <label for="task-priority">Priority</label>
                    <select name="priority"
                            id="task-priority"
                            th:field="*{priorityLevel}"
                            class="form-control">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
                <!-- Due Date of the task -->
                <div class="form-group">
                    <label for="task-due-date">Due date</label>
                    <input type="date"
                           name="due_date"
                           id="task-due-date"
                           th:field="*{dueDate}"
                           class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-plus-square-fill"></i> Add Task
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>